header {
	@extend %flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $grey;
	transition: 0.2s;
	padding: 10px 0;
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	z-index: 100;
	&.stickied {
		padding: 0;
		.logo {
			img {
				margin: 0 20px 0 0;
				width: 382px;
			}
			h1 {
				font-size: 15px;
				letter-spacing: 2px;
			}
		}
	}
	.logo {
		@extend %flex;
		justify-content: center;
		align-items: center;
		img {
			transition: 0.2s;
			margin: 11px 35px 0 0;
		}
		h1 {
			font-size: 25px;
			letter-spacing: 5.5px;
			margin: 0;
			transition: 0.2s;
			color: $darkgrey;
		}
	}
	.right {
		@extend %flex;
		justify-content: center;
		i {
			font-size: 25px;
			color: $orange;
		}
	}
	.left,
	.right {
		width: 90px;
	}
}

nav {
	@extend %flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	right: -25%;
	width: 25%;
	padding: 20px;
	background-color: rgba(0, 0, 0, 1);
	opacity: 0;
	z-index: 105;
	transition: 0.2s;
	&.open {
		right: 0;
		opacity: 1;
	}
	.menu {
		.menu-item {
			a {
				font-size: 20px;
				letter-spacing: 4px;
				line-height: 40px;
				transition: 0.2s;
				&:hover {
					color: white;
				}
			}
		}
	}
	.menu-close {
		width: 30px;
		margin: 25px 15px 0 0;
		a {
			svg {
				polygon {
					fill: $orange;
					transition: 0.2s;
				}
			}
			&:hover {
				svg {
					polygon {
						fill: white;
					}
				}
			}
		}
	}
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

//Home Page Styles
.page-template-home {
	.container {
		section {
			position: relative;
			width: 100%;
			border-bottom: 4px solid white;
			&.hero {
				img {
					width: 100%;
					height: auto;
				}
			}
			&.block {
				&.first {
					border-bottom: 4px solid white;
					.image {
						img {
							width: 100%;
						}
					}
					.content {
						position: absolute;
						top: 0;
						left: 0;
						@extend %flex;
						flex-direction: column;
						align-items: center;
						width: calc(100% - 26%);
						padding: 3% 13%;
						h1 {
							color: $orange;
							font-size: 84px;
							letter-spacing: -0.5px;
							line-height: 120px;
						}
						.body {
							width: 100%;
							@extend %flex;
							justify-content: space-between;
							&>div {
								p {
									color: white;
								}
							}
							.left {
								text-align: left;
								p {
									font-size: 30px;
									line-height: 60px;
									&:last-child {
										color: $orange;
									}
								}
							}
							.right {
								text-align: right;
								p {
									font-size: 20px;
									line-height: 50px;
								}
							}
						}
					}
				}
				&.second {
					.banner {
						position: relative;
						background-color: $grey;
						height: 115px;
						z-index: 20;
						img {
							position: absolute;
							left: 50%;
							transform: translateX(-50%);
							bottom: -65%;
							height: 142px;
							width: 141px;
						}
					}
					.content {
						position: relative;
						.image {
							img {
								width: 100%;
							}
						}
						.message {
							position: absolute;
							top: 0;
							width: calc(100% - 26%);
							padding: 90px 13% 100px 13%;
							text-align: center;
							h1 {
								color: $orange;
								font-size: 45px;
								text-transform: uppercase;
								letter-spacing: 20px;
								line-height: 120px;
								margin-bottom: 24px;
							}
							.body {
								p {
									color: $charcoal;
									font-size: 24px;
									line-height: 55px;
								}
							}
						}
					}
				}
			}
			&.item {
				&:nth-last-child(2) {
					.content {
						.project-logo {
							img {
								width: 46%;
							}
						}
					}
				}
				&:last-child {
					.content {
						.project-logo {
							img {
								width: 40%;
							}
						}
					}
				}
				.image {
					img {
						width: 100%;
					}
				}
				.content {
					position: absolute;
					bottom: 0;
					left: 0;
					@extend %flex;
					flex-direction: column;
					width: 100%;
					.project-logo {
						@extend %flex;
						justify-content: center;
						align-items: center;
						padding-bottom: 5%;
					}
					a {
						@extend %flex;
						justify-content: center;
						background-color: $white-trans;
						padding: 10px 0;
						&>div {
							@extend %flex;
							align-items: center;
						}
						.company-logo {
							justify-content: flex-end;
							width: 33.333333333333%;
							img {
								padding-right: 10px;
							}
						}
						.info {
							flex-direction: column;
							justify-content: center;
							align-items: flex-start;
							width: 66.666666666666%;
							border-left: 3px solid $orange;
							padding: 10px;
							h2 {
								color: $charcoal;
								font-size: 28px;
								text-transform: capitalize;
								font-weight: bold;
								padding: 10px 0 20px 0;
							}
							.button {
								background: white;
								font-size: 18px;
								text-transform: uppercase;
								padding: 5px 10px;
								transition: 0.2s;
								&:hover {
									color: $charcoal;
								}
							}
						}
					}
				}
			}
		}
	}
}
