$small: "max-width: 1280px";
$tablet-l: "max-width: 1024px";
$tablet-p: "max-width: 768px";
$phablet-l: "max-width: 736px";
$phablet-p: "max-width: 414px";
$phone-l: "max-wdith: 667px";
$phone-p: "max-width: 375px";
$iphone5-l: "max-width: 568px";
$iphone5-p: "max-width: 320px";
